# See https://docs.docker.com/language/nodejs/
services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_SERVICE_ROLE_KEY: ${SUPABASE_SERVICE_ROLE_KEY}
      MISTRAL_API_KEY: ${MISTRAL_API_KEY}
    ports:
      - 4000:4000
