name: Deploy Backend to Heroku

on:
    push:
        branches:
            - master
        paths:
            - "apps/backend/**"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy to Heroku
              uses: AkhileshNS/heroku-deploy@v3.12.12
              with:
                  heroku_api_key: ${{secrets.HEROKU_API_KEY}}
                  heroku_app_name: "job-searcher"
                  heroku_email: ${{secrets.HEROKU_EMAIL}}
                  appdir: "apps/backend"
