name: Deploy Backend to Heroku

on:
    push:
        branches:
            - master
        paths:
            - "apps/backend/**"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Deploy to Heroku
              env:
                  HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
                  HEROKU_APP_NAME: job-searcher
                  HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
              run: |
                  git config user.email "$HEROKU_EMAIL"
                  git config user.name "Heroku Deploy"
                  git remote add heroku https://git.heroku.com/$HEROKU_APP_NAME.git || git remote set-url heroku https://git.heroku.com/$HEROKU_APP_NAME.git
                  git push -f heroku master:master --no-verify
