name: Deploy Backend to Heroku

on:
    push:
        branches:
            - master
        paths:
            - "apps/backend/**"
            - ".github/workflows/backend-deploy.yml"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Login to Heroku Container Registry
              run: |
                  echo ${{ secrets.HEROKU_API_KEY }} | docker login --username=_ --password-stdin registry.heroku.com

            - name: Build and push Docker image
              run: |
                  docker build \
                    --build-arg SUPABASE_URL=${{ secrets.SUPABASE_URL }} \
                    --build-arg SUPABASE_SERVICE_ROLE_KEY=${{ secrets.SUPABASE_SERVICE_ROLE_KEY }} \
                    -t registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web:latest \
                    apps/backend

                  docker push registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web:latest

            - name: Release on Heroku
              run: |
                  curl https://cli-assets.heroku.com/install.sh | sh
                  heroku container:release web --app=${{ secrets.HEROKU_APP_NAME }}
              env:
                  HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
